@import "./Utils/variables";
@import "./Utils/mixins";
@import "./layout/restaurant";
@import "./layout/main-container";
@import "./layout/_header";
@import "./layout/_footer";
@import "./Components/buttons";
@import "./Components/cards";


/*Exploration*/
.explo-box {
    background-color: #f6f6f6f6;
    @include flex-center;
    flex-direction: column;
    padding-top: 30px;
        h1 {
            text-align: center;
            font-size: 1.7em;
            margin-left: 55px;
            margin-right: 55px;
        }
        p {
            margin-top: 20px;
            text-align: center;
            font-size: large;
            font-weight: 300;
        }
}

/*Fonctionnement*/

.main-rulesbox {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
        h2 {
            margin-left: 20px;
            margin-bottom: 20px;
        }
        .rules-box {
            width: 93%;
            display: flex;
            flex-direction: column;
            .liste {
                position:relative;
                top: 38px;
                left: 20px;
                box-sizing: border-box;
                width: 20px;
                height: 20px;
                background-color: $color-primary;
                padding-left: 6px;
                padding-top: 3px;
                border-radius: 100%;
                color: white;
                font-size: 13px;
            }
        }
    
}
.box {
    display: flex;
    align-items: baseline;
    gap: 30px;
    background-color: $lighter-grey;
    margin-bottom: 20px;
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom:20px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow:0px 4px 6px rgba(0, 0, 0, 0.11);
        i {
            padding-left: 30px;
            color: #7e7e7e;
        }
        p {
            font-size: small;
            font-weight: bold;
        }
        .fa-mobile-screen {
            padding-right: 6px;
        }
        .fa-list {
            padding-right: 2px;
        }
        &:hover {
            color: $color-primary;
                i {
                    color: $color-primary;
                }
        }
}

/* Media queries tablette*/

@media (min-width:768px) and (max-width: 1024px) {
    /* Nav*/
    nav {
            img {
                width: 20%;
                margin-bottom: 35px;
                padding-top: 35px;
            }
            a {
                .fa-arrow-left {
                    top:3%;
                }
            }
        }
    /*Exploration*/
    .explo-box {
        h1 {
            font-size: 2.2em;
            font-weight: 900;
        }
        p {
            font-size: medium;
        }
    }
    .explo-btn {
        margin-bottom: 30px;
    }
    /*Filtres*/
    .main-rulesbox {
        width: 100%;
        h2 {
            margin-left: 76px;
        }
            .rules-box {
                width: 100%;
                flex-direction: row;
                margin-left: 55px;
                gap: 10px;
                    .box {
                        padding-right: 50px;
                        margin-left: 0;
                        gap: 20px;
                    }
                    .liste {
                        top: 18px;
                        left: 19px;
                    }
                    .fa-mobile-screen {
                        padding-right: 0;
                    }
                    .fa-list {
                        padding-right: 9.5px;
                    }
                    .fa-store {
                        padding-right: 3px;
                    }
            }
    }
    /*Cards*/
    .restaurants {
        h2 {
            margin-left: 76px;
        }
    }
    .restaurants-cards {
        margin-left: 76px;
        width: 93.5%;
            a {
                img {
                    object-position: center;
                    height: 260px;
                }
                #enchantee {
                    object-position: 0px -455px;
                }
                #fraise {
                    object-position: 0px -230px;
                }
                #delice {
                    object-position: 0px -260px;
                }
            }
            i {
                left: 800px;
                font-size: xx-large;
            }
    }
    /*Pages restaurants*/
    .restaurants-menu {
        justify-content: center;
    }
    .menu-content {
        width: 80%;
        h2 {
            &::after {
                width: 7.2%;
            }
        }
    }
}
/*Media Queries Desktop */
@media (min-width:1025px) and (max-width:1920px){

    /* Nav*/
    nav {
        img {
            width: 10%;
            margin-bottom: 35px;
            padding-top: 40px;
        }
        a {
            .fa-arrow-left {
                top:5%;
            }
        }
    }
    input {
        &::placeholder {
            font-size:16px;
        }
    }
    .explo-box {
        p {
            margin-bottom: 30px;
        }
    }

    /*Filtres*/
    .main-rulesbox {
        margin-bottom: 50px;
        margin-top: 50px;
        overflow-y: hidden;
            h2 {
                font-size: 30px;
                margin-left: 240px;
                margin-bottom: 50px;
            }
            .rules-box {
                transform: scale(1.7);
                flex-direction: row;
                justify-content: center;
                margin-left: 5px;
                .box {
                    p {
                    font-size: small;
                    font-weight: 600;
                    padding-right: 30px;
                    margin-left: -10px;
                    }
                    .fa-mobile-screen {
                        padding-left: 24px;
                        padding-right: 0;
                    }
                    .fa-list {
                        margin-right: 2px;
                    }
                    .fa-store {
                        margin-left: -3px;
                    }
                }
                .liste {
                    top: 20px;
                    left: 38px;
                }
            }
    }
    /*Cards*/
    .restaurants {
        padding-bottom: 0;
        h2 {
            margin-left: 240px;
            font-size: 30px;
            margin-bottom: 50px;
        }
    }
    .restaurants-cards {
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0;
        overflow-y: hidden;
            a {
                margin-bottom: 50px;
                width: 36%;
                img {
                    object-position: 0px -120px;
                    height: 250px;
                }
                #enchantee {
                    object-position: 0px -325px;
                }
                #fraise {
                    object-position: 0px -170px;
                }
                #delice {
                    object-position: 0px -170px;
                }
            }
            i { 
                font-size: xx-large;
                left: -62px;
                bottom: -275px;
            }
    }
    .new {
        .new-box {
            font-size: 18px;
            top: 30px;
            right:30px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    /*Footer*/
    footer {
        padding-top: 0;
        .footer-bar {
            flex-direction: row-reverse;
            gap: 50px;
            margin-top: 70px;
            margin-bottom: 30px;
            margin-right: 115px;
                .logo-title {
                    font-weight: 300;
                    font-size: x-large;
                    padding-right: 5px;
                }
            .footer-box {
                display:flex;
                flex-direction: row;
                gap:60px;
                padding-right: 50px;
            }
            .footer-icons {
                flex-direction: row;
                gap: 10px;
            }
            .footer-txt {
                display: flex;
                gap: 30px;
            }
        }
    }
    /*Pages restaurants*/
    .main-restaurant {
        background: white;
        .restaurant-img {
            object-fit: cover;
            height: 600px;
            img {
                transform: scale(1);
                object-position: 0px -400px;
            }
        }
    }
    .restaurants-menu {
        justify-content: center;
        width: 72%;
    }
    .menu-content {
        margin-top: 0;
        padding-top: 50px;
        width: 72%;
        margin-bottom: 0;
        padding-bottom: 10px;
        h2 {
            margin-left: 310px;
            &::after {
                width: 5.5%;  
            }
        }
        .menu-txt {
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            width: 55%;
        }
    }
    #bottom {
        padding-bottom: 180px;
    }
    .command {
        background: $grey;
        margin-top: -100px;
        margin-bottom: 0;
        margin-right: 14px;
        margin-left: 14px;
    }
    .explo-btn {
        margin-top: 0;
    }
}
/*For large desktop*/
@media (min-width: 1921px) {
* {
    overflow-x: hidden;
}
/* Nav*/

nav {
    img {
        width: 10%;
        margin-bottom: 35px;
        padding-top: 40px;
    }
    a {
        .fa-arrow-left {
            top:4%;
        }
    }
}
input {
    &::placeholder {
        font-size:16px;
    }
}
.explo-box {
    p {
        margin-bottom: 30px;
    }
    .explo-btn {
        
        transform: scale(1.5);
    }
}
/*Filtres*/
.main-rulesbox {
    margin-bottom: 50px;
    margin-top: 50px;
    overflow-y: hidden;
        h2 {
            font-size: 30px;
            margin-left: 320px;
            margin-bottom: 50px;
        }
        .rules-box {
            transform: scale(2.2);
            flex-direction: row;
            justify-content: center;
            margin-left: 5px;
            padding-top: 10px;
            padding-bottom: 20px;
            margin-top: 20px;
            .box {
                p {
                font-size: small;
                font-weight: 600;
                padding-right: 30px;
                margin-left: -10px;
                }
                .fa-mobile-screen {
                    padding-left: 24px;
                    padding-right: 0;
                }
                .fa-list {
                    margin-right: 2px;
                }
                .fa-store {
                    margin-left: -3px;
                }
            }
            .liste {
                top: 20px;
                left: 38px;
            }
        }
}
/*Cards*/
.restaurants {
    padding-bottom: 0;
    margin-top: 10px;
    h2 {
        margin-left: 320px;
        font-size: 30px;
        margin-bottom: 50px;
    }
}
.restaurants-cards {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
    overflow-y: hidden;
        a {
            margin-bottom: 50px;
            width: 36%;
            img {
                object-position: 0px -120px;
                height: 350px;
            }
            #enchantee {
                object-position: 0px -435px;
            }
            #fraise {
                object-position: 0px -220px;
            }
            #delice {
                object-position: 0px -220px;
            }
        }
        i { 
            font-size: xx-large;
            left: -62px;
            bottom: -370px;
        }
}
.new {
    .new-box {
        font-size: 18px;
        top: 30px;
        right:30px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
/*Footer*/
footer {
    padding-top: 0;
    .footer-bar {
        flex-direction: row-reverse;
        gap: 50px;
        margin-top: 70px;
        margin-bottom: 30px;
        margin-right: 115px;
            .logo-title {
                font-weight: 300;
                font-size: x-large;
                padding-right: 5px;
            }
        .footer-box {
            display:flex;
            flex-direction: row;
            gap:60px;
            padding-right: 50px;
        }
        .footer-icons {
            flex-direction: row;
            gap: 10px;
        }
        .footer-txt {
            display: flex;
            gap: 30px;
        }
    }
}
/*Pages restaurants*/
    .main-restaurant {
        background: white;
        .restaurant-img {
            object-fit: cover;
            height: 600px;
            img {
                transform: scale(1);
                object-position: 0px -400px;
            }
        }
    }
    .restaurants-menu {
        justify-content: center;
        width: 72%;
    }
    .menu-content {
        margin-top: 0;
        padding-top: 50px;
        width: 72%;
        margin-bottom: 0;
        padding-bottom: 10px;
        h2 {
            margin-left: 410px;
            &::after {
                width: 4.2%;  
            }
        }
        .menu-txt {
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            width: 55%;
        }
    }
    #bottom {
        padding-bottom: 180px;
    }
    .command {
        background: $grey;
        margin-top: -110px;
        margin-bottom: 0;
        margin-right: 14px;
        margin-left: 14px;
    }
    .explo-btn {
        margin-top: 0;
        margin-bottom: 70px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    }
}