@import "./Utils/variables";
@import "./Utils/mixins";
@import "./layout/main-container";
@import "./layout/_header";
@import "./layout/_footer";
@import "./Components/buttons";

/*Exploration*/
.explo-box {
    background-color: #f6f6f6f6;
    @include flex-center;
    flex-direction: column;
    padding-top: 30px;
        h1 {
            text-align: center;
            font-size: 1.7em;
            margin-left: 55px;
            margin-right: 55px;
        }
        p {
            margin-top: 20px;
            text-align: center;
            font-size: large;
            font-weight: 300;
        }
}

/*Fonctionnement*/

.main-rulesbox {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
        h2 {
            margin-left: 20px;
        }
    
}