@import "./Utils/variables";
@import "./Utils/mixins";
@import "./layout/restaurant";
@import "./layout/main-container";
@import "./layout/_header";
@import "./layout/_footer";
@import "./Base/queries";
@import "./Components/buttons";
@import "./Components/cards";


/*Exploration*/
.explo-box {
    background-color: #f6f6f6f6;
    @include flex-center;
    flex-direction: column;
    padding-top: 30px;
        h1 {
            text-align: center;
            font-size: 1.7em;
            margin-left: 55px;
            margin-right: 55px;
        }
        p {
            margin-top: 20px;
            text-align: center;
            font-size: large;
            font-weight: 300;
        }
}

/*Fonctionnement*/

.main-rulesbox {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
        h2 {
            margin-left: 20px;
            margin-bottom: 20px;
        }
        .rules-box {
            width: 93%;
            display: flex;
            flex-direction: column;
            .liste {
                position:relative;
                top: 38px;
                left: 20px;
                box-sizing: border-box;
                width: 20px;
                height: 20px;
                background-color: $color-primary;
                padding-left: 6px;
                padding-top: 3px;
                border-radius: 100%;
                color: white;
                font-size: 13px;
            }
        }
    
}
.box {
    display: flex;
    align-items: baseline;
    gap: 30px;
    background-color: $lighter-grey;
    margin-bottom: 20px;
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom:20px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow:0px 4px 6px rgba(0, 0, 0, 0.11);
        i {
            padding-left: 30px;
            color: #7e7e7e;
        }
        p {
            font-size: small;
            font-weight: bold;
        }
        .fa-mobile-screen {
            padding-right: 6px;
        }
        .fa-list {
            padding-right: 2px;
        }
        &:hover {
            color: $color-primary;
                i {
                    color: $color-primary;
                }
        }
}
