footer {
    
    margin:0;
    background: #353535;
    color: white;
    padding-left: 20px;
    padding-top: 20px;
        .footer-bar {
            display: flex;
    flex-direction: column;
            .logo-title {
        font-family: $txt-logo-titre;
        font-weight: 300;
            }
        }
        a {
            text-decoration: none;
            color: white;
        }
}
.footer-box {
    margin-top: 20px;
    p { 
        margin-bottom: 10px;
    }
}
.footer-icons {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    
    p {
        overflow-y: hidden;
        display: flex;
        text-align: end;
    }
    i {
        padding-right: 8px;
    }
}
.fa-handshake-angle {
    font-size: 70%;
    margin-top: 3px;
    transform: scale(1.2);
}
.footer-txt {
    font-weight: 300;
}

