
nav {
    @include flex-center;
    img {
        display: block;
        width: 50%;
        padding-top: 30px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 15px;
    }
    a { 
        text-decoration: none;
        color: black;
        margin-left: 10.5px;
            .fa-arrow-left {
                font-size:large;
                position: absolute;
                top:4%;
                left: 1.5em;
            }
    }
}

.search-bar {
    @include flex-center;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $grey;
    gap: 15px;
    box-shadow: inset 0 5px 9px -7px rgba(0,0,0,0.4)
    }
.fa-location-dot {
        color: #353535;
    }
input {
    outline: none;
    border: none;
    background: $grey;
    padding: 8px;
    &::placeholder {
        font-weight: bold;
        font-size: large;
        color: #353535;

    }
}
