
nav {
    display: flex;
    border: white;
    img {
        display: block;
        width: 50%;
        padding-top: 20px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 15px;
    }
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #EAEAEA;
    gap: 15px;
    box-shadow: inset 0 5px 9px -7px rgba(0,0,0,0.4)
    }
.fa-location-dot {
        color: #353535;
    }
input {
    border: none;
    background: #EAEAEA;
    padding: 8px;
    &::placeholder {
        font-weight: bold;
        font-size: large;
        color: #353535;
    }
}
