.main-restaurant {
    @include flex-center;
    flex-direction: column;
    background: $grey;
            img {
                margin-top: 13px;
                width: 100%;
                transform: scale(1.1);
            }
}

.restaurants-menu {
    display: flex;
    align-items: baseline;
    background: $grey;
    width: 100%;
    position: relative;
    margin-top: -55px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
        h1 {
            @include section-title;
            }
        .heart {
            font-size: xx-large;
            padding-left: 40px;
            &:hover {
                background: linear-gradient($color-primary,$color-secundary);
                background-clip: text;
                font-weight: bold;
                -webkit-background-clip: text;
                color: transparent;
            }
        }
}
.menu-content {
    background: $grey;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 90%;
    gap: 10px;
    margin-bottom: 40px;
    h2 {
        font-weight: 300;
        margin-bottom: 5px;
        position: relative;
        padding-bottom: 8px;
            &::after {
                content:"";
                width: 17%;
                height: 3px;
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: $color-third;
            }
    }
    .menu-txt {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
.card-menu {    
    background: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
        h3 {
            margin-bottom: 5px;
            position: relative;
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        p {
            font-weight: 300;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .menu-price {
            display: flex;
            justify-content: end;
            margin-top: -20px;
            color: #353535;
            font-weight: bold;
        }
}
.check {
    @include flex-center;
    background-color: $color-third;
}
.command {
    @include flex-center;
    transform: scale(1.5);
}