.main-restaurant {
    @include flex-center;
    flex-direction: column;
    background: $grey;
            img {
                margin-top: 13px;
                width: 100%;
                transform: scale(1.1);
            }
            #enchante-img {
                margin-top: 13px;
                width: 390px;
                transform: scale(1.1);
                height: 260px;
                object-fit: cover;
                object-position: 0px -120px;
            }
            #delice-img {
                margin-top: 13px;
                width: 390px;
                transform: scale(1.1);
                height: 260px;
                object-fit: cover;
                object-position: 0px -30px;
            }
}

.restaurants-menu {
    display: flex;
    align-items: baseline;
    background: $grey;
    width: 100%;
    position: relative;
    margin-top: -55px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
        h1 {
            @include section-title;
            }
        .heart {
            font-size: xx-large;
            padding-left: 40px;
            padding-right: 2px;
            &:hover {
                background: linear-gradient($color-primary,$color-secundary);
                background-clip: text;
                font-weight: bold;
                -webkit-background-clip: text;
                color: transparent;
            }
        }
        #heart-fr {
            padding-left: 95px;
        }
}
.menu-content {
    background: $grey;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 90%;
    gap: 10px;
    margin-bottom: 40px;
    h2 {
        font-weight: 300;
        margin-bottom: 5px;
        position: relative;
        padding-bottom: 8px;
            &::after {
                content:"";
                width: 17%;
                height: 3px;
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: $color-third;
            }
    }
    .menu-txt {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
.card-menu {
    display: flex;
    flex-direction: column;    
    background: white;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
        h3 {
            margin-bottom: 5px;    
        }
        p {
            font-weight: 300;
        }
        .check-box {
            display: flex;
            position: relative;
            margin-top: -65px;
            color: #353535;
            font-weight: bold;
            left: 93%;
            height: 100px;
            margin-bottom: -45px;
                .menu-price {
                    margin-top: 45px;
                    padding-right: 5%;
                }
        }
}
.check {
    @include flex-center;
    background-color: $color-third;
    color: white;
    position: absolute;
    left:11%;
    top:0;
    width: 20%;
    height:80px;
    margin-bottom: 0;
    margin-top: 0;

}
.command {
    @include flex-center;
    transform: scale(1.5);
}