/*Remplissage des coeurs*/

.fa-heart:hover {
    @include fill-heart;
}
/*Loader page d'accueil*/
.loader {
    @include flex-center;
    background: linear-gradient($color-primary,$color-secundary);
    width:100%;
    height:100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 100;
    animation: fadeout 0.2s 3s forwards;
    * {
        font-family: $txt-logo-titre;
    }
    h1 {
        @include flex-center;
        width:100%;
        position: relative;
    }
span {
    padding: 5px;
    font-size: 1em;
    color:white;
    animation: drop 0.4s linear forwards;
    opacity: 0;
}
    .l1{
        
        animation-delay: 0.2s;
    }
    .l2{
        
        animation-delay: 0.4s;
    }
    .l3{
        
        animation-delay: 0.6s;
    }
    .l4{
        
        animation-delay: 0.8s;
    }
    .l5{
        
        animation-delay: 1s;
    }
    .l6{
        
        animation-delay: 1.2s;
    }
    .l7{
        
        animation-delay: 1.4s;
    }
    .l8{
        
        animation-delay: 1.6s;
    }
}
@keyframes drop {
    0% {
        transform: translateY(-200px) scaleY(0.9);
    }
    5% {
        opacity: 0.7;
    }
    50% {
        opacity: 1;
        transform: translateY(0) scaleY(1);
    }
    65% {
        transform: translateY(-17px) scaleY(0.9);
    }
    75% {
        transform: translateY(-22px) scaleY(0.9);
    }
    100% {
        transform: translateY(0px) scaleY(1);
        opacity: 1;
    }
}

@keyframes fadeout{
  0% {
      opacity: 100%;
  }
  50%{
      opacity:50%;
  }
  75%{
      opacity:25%;
  }
  100% {
      opacity: 0%;
      visibility: hidden;
  }
}
/*Apparition plats*/
.show-1 {
    animation: appear 1s ease-in-out;
}
.show-2 {
    animation: appear 1s ease-in-out;
    animation-delay: 0.2s;
    animation-fill-mode: both;
}
.show-3 {
    animation: appear 1s ease-in-out;
    animation-delay: 0.4s;
    animation-fill-mode: both;
}
.show-4 {
    animation: appear 1s ease-in-out;
    animation-delay: 0.6s;
    animation-fill-mode: both;
}
.show-5 {
    animation: appear 1s ease-in-out;
    animation-delay: 0.8s;
    animation-fill-mode: both;
}
.show-6 {
    animation: appear 1s ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: both;
}
.show-7 {
    animation: appear 1s ease-in-out;
    animation-delay: 1.2s;
    animation-fill-mode: both;
}
.show-8 {
    animation: appear 1s ease-in-out;
    animation-delay: 1.4s;
    animation-fill-mode: both;
}
.show-9 {
    animation: appear 1s ease-in-out;
    animation-delay: 1.6s;
    animation-fill-mode: both;
}
.show-10 {
    animation: appear 1s ease-in-out;
    animation-delay: 1.8s;
    animation-fill-mode: both;
}
@keyframes appear {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
/*Check plat*/
.menu-txt:hover {
    .card-menu {
        h3 {
            animation: ellipse 1s ease-in-out;
            animation-fill-mode: both;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        p {
            animation: ellipse 1s ease-in-out;
            animation-fill-mode: both;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .check-box {
        animation: valid 1s ease-in-out;
        animation-fill-mode: both;
        animation-delay: 100ms;
            .fa-check {
                animation: rota 1s ease;
            }
    }
}

@keyframes valid {
    from {
        left:305px;
    }
    to {
        left: 240px;
        
    }
}

@keyframes rota{
    from{
        transform: rotate(0deg);
    }
    to{
        transform:rotate(-720deg)
    }
    }

@keyframes ellipse {
    from {
        width: 331px;
    }
    to {
        width: 220px;
    }
}