@charset "UTF-8";
.main-restaurant {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #EAEAEA;
}
.main-restaurant img {
  margin-top: 13px;
  width: 100%;
  transform: scale(1.1);
}
.main-restaurant #enchante-img {
  margin-top: 13px;
  width: 390px;
  transform: scale(1.1);
  height: 260px;
  object-fit: cover;
  object-position: 0px -120px;
}
.main-restaurant #delice-img {
  margin-top: 13px;
  width: 390px;
  transform: scale(1.1);
  height: 260px;
  object-fit: cover;
  object-position: 0px -30px;
}

.restaurants-menu {
  display: flex;
  align-items: baseline;
  background: #EAEAEA;
  width: 100%;
  position: relative;
  margin-top: -55px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.restaurants-menu h1 {
  font-family: "Shrikhand", cursive;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 5px;
  font-size: 28px;
}
.restaurants-menu .heart {
  font-size: xx-large;
  padding-left: 40px;
  padding-right: 2px;
}
.restaurants-menu .heart:hover {
  background: linear-gradient(#9356DC, #ff79d9);
  background-clip: text;
  font-weight: bold;
  -webkit-background-clip: text;
  color: transparent;
}
.restaurants-menu #heart-fr {
  padding-left: 95px;
}

.menu-content {
  background: #EAEAEA;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 90%;
  gap: 10px;
  margin-bottom: 40px;
}
.menu-content h2 {
  font-weight: 300;
  margin-bottom: 5px;
  position: relative;
  padding-bottom: 8px;
}
.menu-content h2::after {
  content: "";
  width: 17%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #99E2D0;
}
.menu-content .menu-txt {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-menu {
  display: flex;
  flex-direction: column;
  background: white;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.card-menu h3 {
  margin-bottom: 5px;
}
.card-menu p {
  font-weight: 300;
}
.card-menu .check-box {
  display: flex;
  position: relative;
  margin-top: -65px;
  color: #353535;
  font-weight: bold;
  left: 93%;
  height: 100px;
  margin-bottom: -45px;
}
.card-menu .check-box .menu-price {
  margin-top: 45px;
  padding-right: 5%;
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  position: absolute;
  left: 11%;
  top: 0;
  width: 20%;
  height: 80px;
  margin-bottom: 0;
  margin-top: 0;
}

.command {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.5);
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.overflow * {
  overflow-y: hidden;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav img {
  display: block;
  width: 50%;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
nav a {
  text-decoration: none;
  color: black;
  margin-left: 10.5px;
}
nav a .fa-arrow-left {
  font-size: large;
  position: absolute;
  top: 4%;
  left: 1.5em;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #EAEAEA;
  gap: 15px;
  box-shadow: inset 0 5px 9px -7px rgba(0, 0, 0, 0.4);
}

.fa-location-dot {
  color: #353535;
}

input {
  outline: none;
  border: none;
  background: #EAEAEA;
  padding: 8px;
}
input::placeholder {
  font-weight: bold;
  font-size: large;
  color: #353535;
}

footer {
  margin: 0;
  background: #353535;
  color: white;
  padding-left: 20px;
  padding-top: 20px;
}
footer .footer-bar {
  display: flex;
  flex-direction: column;
}
footer .footer-bar .logo-title {
  font-family: "Shrikhand", cursive;
  font-weight: 300;
}
footer a {
  text-decoration: none;
  color: white;
}

.footer-box {
  margin-top: 20px;
}
.footer-box p {
  margin-bottom: 10px;
}

.footer-icons {
  font-weight: 500;
  display: flex;
  flex-direction: column;
}
.footer-icons p {
  overflow: visible;
  display: flex;
  text-align: end;
}
.footer-icons i {
  padding-right: 8px;
}

.fa-handshake-angle {
  font-size: 70%;
  margin-top: 3px;
  transform: scale(1.2);
}

.footer-txt {
  font-weight: 300;
}

.explo-btn {
  background: linear-gradient(#ff79d9, #9356DC);
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  font-size: 15px;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin-top: 30px;
  margin-bottom: 50px;
}
.explo-btn:hover {
  background: linear-gradient(#ff91e0, #9a65da);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
}

.restaurants {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
  background-color: rgba(246, 246, 246, 0.9647058824);
}
.restaurants h2 {
  margin-left: 20px;
  margin-bottom: 20px;
}

.restaurants-cards {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  width: 100%;
  justify-content: center;
  margin-left: 20px;
  /* Coeur dégradé au survol */
}
.restaurants-cards a {
  width: 90%;
  background: white;
  justify-content: space-between;
  margin-bottom: 15px;
  border-radius: 15px;
  text-decoration: none;
  color: black;
}
.restaurants-cards a img {
  object-fit: cover;
  object-position: bottom;
  width: 100%;
  height: 180px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.restaurants-cards a #enchantee {
  object-position: 0px -158px;
}
.restaurants-cards .heart {
  font-size: x-large;
  position: relative;
  left: 300px;
  bottom: 70px;
}
.restaurants-cards .heart:hover {
  background: linear-gradient(#9356DC, #ff79d9);
  background-clip: text;
  font-weight: bold;
  -webkit-background-clip: text;
  color: transparent;
}

.new {
  position: relative;
}
.new .new-box {
  position: absolute;
  font-weight: 600;
  font-size: 14px;
  top: 15px;
  right: 15px;
  background: #99E2D0;
  color: #008766;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.card-content {
  display: flex;
  margin-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
  justify-content: space-between;
}
.card-content h3 {
  margin-bottom: 5px;
}
.card-content p {
  font-weight: 300;
}

/*Remplissage des coeurs*/
.fa-heart:hover {
  background: linear-gradient(#ff79d9, #9356DC);
  font-weight: bold;
  cursor: pointer;
  transition: all 2s linear;
}

/*Loader page d'accueil*/
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#9356DC, #ff79d9);
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 100;
  animation: fadeout 0.2s 3s forwards;
}
.loader * {
  font-family: "Shrikhand", cursive;
}
.loader h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.loader span {
  padding: 5px;
  font-size: 1em;
  color: white;
  animation: drop 0.4s linear forwards;
  opacity: 0;
}
.loader .l1 {
  animation-delay: 0.2s;
}
.loader .l2 {
  animation-delay: 0.4s;
}
.loader .l3 {
  animation-delay: 0.6s;
}
.loader .l4 {
  animation-delay: 0.8s;
}
.loader .l5 {
  animation-delay: 1s;
}
.loader .l6 {
  animation-delay: 1.2s;
}
.loader .l7 {
  animation-delay: 1.4s;
}
.loader .l8 {
  animation-delay: 1.6s;
}

@keyframes drop {
  0% {
    transform: translateY(-200px) scaleY(0.9);
  }
  5% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
  65% {
    transform: translateY(-17px) scaleY(0.9);
  }
  75% {
    transform: translateY(-22px) scaleY(0.9);
  }
  100% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
}
@keyframes fadeout {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 50%;
  }
  75% {
    opacity: 25%;
  }
  100% {
    opacity: 0%;
    visibility: hidden;
  }
}
/*Apparition plats*/
.show-1 {
  animation: appear 1s ease-in-out;
}

.show-2 {
  animation: appear 1s ease-in-out;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}

.show-3 {
  animation: appear 1s ease-in-out;
  animation-delay: 0.4s;
  animation-fill-mode: both;
}

.show-4 {
  animation: appear 1s ease-in-out;
  animation-delay: 0.6s;
  animation-fill-mode: both;
}

.show-5 {
  animation: appear 1s ease-in-out;
  animation-delay: 0.8s;
  animation-fill-mode: both;
}

.show-6 {
  animation: appear 1s ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: both;
}

.show-7 {
  animation: appear 1s ease-in-out;
  animation-delay: 1.2s;
  animation-fill-mode: both;
}

.show-8 {
  animation: appear 1s ease-in-out;
  animation-delay: 1.4s;
  animation-fill-mode: both;
}

.show-9 {
  animation: appear 1s ease-in-out;
  animation-delay: 1.6s;
  animation-fill-mode: both;
}

.show-10 {
  animation: appear 1s ease-in-out;
  animation-delay: 1.8s;
  animation-fill-mode: both;
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/*Check plat*/
.menu-txt:hover .card-menu h3 {
  animation: ellipse 1s ease-in-out;
  animation-fill-mode: both;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-txt:hover .card-menu p {
  animation: ellipse 1s ease-in-out;
  animation-fill-mode: both;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-txt:hover .check-box {
  animation: valid 1s ease-in-out;
  animation-fill-mode: both;
  animation-delay: 100ms;
}
.menu-txt:hover .check-box .fa-check {
  animation: rota 1s ease;
}

@keyframes valid {
  from {
    left: 93%;
  }
  to {
    left: 73%;
  }
}
@keyframes rota {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes ellipse {
  from {
    width: 331px;
  }
  to {
    width: 220px;
  }
}
/*Exploration*/
.explo-box {
  background-color: rgba(246, 246, 246, 0.9647058824);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}
.explo-box h2 {
  text-align: center;
  font-size: 1.7em;
  margin-left: 55px;
  margin-right: 55px;
}
.explo-box p {
  margin-top: 20px;
  text-align: center;
  font-size: large;
  font-weight: 300;
}

/*Fonctionnement*/
.main-rulesbox {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.main-rulesbox h2 {
  margin-left: 20px;
  margin-bottom: 20px;
}
.main-rulesbox .rules-box {
  width: 93%;
  display: flex;
  flex-direction: column;
}
.main-rulesbox .rules-box .liste {
  position: relative;
  top: 38px;
  left: 20px;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  background-color: #9356DC;
  padding-left: 6px;
  padding-top: 3px;
  border-radius: 100%;
  color: white;
  font-size: 13px;
}

.box {
  display: flex;
  align-items: baseline;
  gap: 30px;
  background-color: rgba(246, 246, 246, 0.9647058824);
  margin-bottom: 20px;
  margin-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.11);
}
.box i {
  padding-left: 30px;
  color: #7e7e7e;
}
.box p {
  font-size: small;
  font-weight: bold;
}
.box .fa-mobile-screen {
  padding-right: 6px;
}
.box .fa-list {
  padding-right: 2px;
}
.box:hover {
  color: #9356DC;
}
.box:hover i {
  color: #9356DC;
}

/* Media queries tablette*/
@media (min-width: 768px) and (max-width: 1024px) {
  /*Loader font-size*/
  .loader span {
    font-size: 2em;
    padding: 15px;
  }
  /* Nav*/
  nav img {
    width: 20%;
    margin-bottom: 35px;
    padding-top: 35px;
  }
  nav a .fa-arrow-left {
    top: 3%;
  }
  /*Exploration*/
  .explo-box h1 {
    font-size: 2.2em;
    font-weight: 900;
  }
  .explo-box p {
    font-size: medium;
  }
  .explo-btn {
    margin-bottom: 30px;
  }
  /*Filtres*/
  .main-rulesbox {
    width: 100%;
  }
  .main-rulesbox h2 {
    margin-left: 76px;
  }
  .main-rulesbox .rules-box {
    width: 100%;
    flex-direction: row;
    margin-left: 55px;
    gap: 10px;
  }
  .main-rulesbox .rules-box .box {
    padding-right: 50px;
    margin-left: 0;
    gap: 20px;
  }
  .main-rulesbox .rules-box .liste {
    top: 18px;
    left: 19px;
  }
  .main-rulesbox .rules-box .fa-mobile-screen {
    padding-right: 0;
  }
  .main-rulesbox .rules-box .fa-list {
    padding-right: 9.5px;
  }
  .main-rulesbox .rules-box .fa-store {
    padding-right: 3px;
  }
  /*Cards*/
  .restaurants h2 {
    margin-left: 76px;
  }
  .restaurants-cards {
    margin-left: 76px;
    width: 93.5%;
  }
  .restaurants-cards a img {
    object-position: center;
    height: 260px;
  }
  .restaurants-cards a #enchantee {
    object-position: 0px -455px;
  }
  .restaurants-cards a #fraise {
    object-position: 0px -230px;
  }
  .restaurants-cards a #delice {
    object-position: 0px -260px;
  }
  .restaurants-cards .fa-heart {
    left: 800px;
    font-size: xx-large;
  }
  /*Pages restaurants*/
  .main-restaurant #enchante-img {
    transform: scale(1.1);
    margin-top: 13px;
    width: 1026px;
    height: 683px;
  }
  .main-restaurant #delice-img {
    margin-top: 13px;
    width: 1026px;
    transform: scale(1.1);
    height: 683px;
    object-fit: cover;
    object-position: 0px -30px;
  }
  .restaurants-menu {
    justify-content: center;
  }
  .menu-content {
    width: 80%;
  }
  .menu-content h2::after {
    width: 7.2%;
  }
  .card-menu .check-box {
    left: 95%;
  }
  .card-menu .check-box .menu-price {
    margin-top: 45px;
    padding-right: 5%;
  }
  @keyframes valid {
    from {
      left: 95%;
    }
    to {
      left: 71%;
    }
  }
  @keyframes ellipse {
    from {
      width: 331px;
    }
    to {
      width: 331px;
    }
  }
}
/*Media Queries Desktop */
@media (min-width: 1025px) and (max-width: 1920px) {
  /*Loader font-size*/
  .loader span {
    font-size: 3em;
    padding: 25px;
  }
  /* Nav*/
  nav img {
    width: 10%;
    margin-bottom: 35px;
    padding-top: 40px;
  }
  nav a .fa-arrow-left {
    top: 5%;
  }
  input::placeholder {
    font-size: 16px;
  }
  .explo-box p {
    margin-bottom: 30px;
  }
  /*Filtres*/
  .main-rulesbox {
    margin-bottom: 40px;
    margin-top: 50px;
    overflow-y: hidden;
  }
  .main-rulesbox h2 {
    font-size: 30px;
    margin-left: 240px;
    margin-bottom: 50px;
  }
  .main-rulesbox .rules-box {
    transform: scale(1.7);
    flex-direction: row;
    justify-content: center;
    margin-left: 5px;
    margin-bottom: 10px;
  }
  .main-rulesbox .rules-box .box p {
    font-size: small;
    font-weight: 600;
    padding-right: 30px;
    margin-left: -10px;
  }
  .main-rulesbox .rules-box .box .fa-mobile-screen {
    padding-left: 24px;
    padding-right: 0;
  }
  .main-rulesbox .rules-box .box .fa-list {
    margin-right: 2px;
  }
  .main-rulesbox .rules-box .box .fa-store {
    margin-left: -3px;
  }
  .main-rulesbox .rules-box .liste {
    top: 20px;
    left: 38px;
  }
  /*Cards*/
  .restaurants {
    padding-bottom: 0;
  }
  .restaurants h2 {
    margin-left: 240px;
    font-size: 30px;
    margin-bottom: 50px;
  }
  .restaurants-cards {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
    overflow-y: hidden;
  }
  .restaurants-cards a {
    margin-bottom: 50px;
    width: 36%;
  }
  .restaurants-cards a img {
    object-position: 0px -120px;
    height: 250px;
  }
  .restaurants-cards a #enchantee {
    object-position: 0px -325px;
  }
  .restaurants-cards a #fraise {
    object-position: 0px -170px;
  }
  .restaurants-cards a #delice {
    object-position: 0px -170px;
  }
  .restaurants-cards .heart {
    font-size: xx-large;
    left: -62px;
    bottom: -275px;
    height: 35px;
  }
  .new .new-box {
    font-size: 18px;
    top: 30px;
    right: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
  /*Footer*/
  footer {
    padding-top: 0;
  }
  footer .footer-bar {
    flex-direction: row-reverse;
    gap: 50px;
    margin-top: 70px;
    margin-bottom: 30px;
    margin-right: 115px;
  }
  footer .footer-bar .logo-title {
    font-weight: 300;
    font-size: x-large;
    padding-right: 5px;
  }
  footer .footer-bar .footer-box {
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding-right: 50px;
  }
  footer .footer-bar .footer-icons {
    flex-direction: row;
    gap: 10px;
  }
  footer .footer-bar .footer-txt {
    display: flex;
    gap: 30px;
  }
  /*Pages restaurants*/
  .main-restaurant {
    background: white;
  }
  .main-restaurant .restaurant-img {
    object-fit: cover;
    height: 600px;
  }
  .main-restaurant .restaurant-img img {
    transform: scale(1);
    object-position: 0px -400px;
  }
  .main-restaurant .restaurant-img #enchante-img {
    transform: scale(1);
    margin-top: 13px;
    width: 1920px;
    height: 1280px;
    object-position: 0px -950px;
  }
  .main-restaurant .restaurant-img #delice-img {
    margin-top: 13px;
    width: 1920px;
    transform: scale(1.1);
    height: 1280px;
    object-fit: cover;
    object-position: 0px -350px;
  }
  .restaurants-menu {
    justify-content: center;
    width: 72%;
  }
  .menu-content {
    margin-top: 0;
    padding-top: 50px;
    width: 72%;
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  .menu-content h2 {
    margin-left: 310px;
  }
  .menu-content h2::after {
    width: 5.5%;
  }
  .menu-content .menu-txt {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
  }
  #bottom {
    padding-bottom: 180px;
  }
  .card-menu .check-box {
    left: 91%;
  }
  .card-menu .check-box .menu-price {
    margin-top: 45px;
    margin-left: 5%;
  }
  @keyframes valid {
    from {
      left: 91%;
    }
    to {
      left: 76%;
    }
  }
  @keyframes ellipse {
    from {
      width: 331px;
    }
    to {
      width: 331px;
    }
  }
  .check {
    width: 15%;
  }
  .command {
    background: #EAEAEA;
    margin-top: -100px;
    margin-bottom: 0;
    margin-right: 14px;
    margin-left: 14px;
  }
  .explo-btn {
    margin-top: 0;
  }
}
/*For large desktop*/
@media (min-width: 1921px) {
  * {
    overflow-x: hidden;
  }
  /*Loader font-size*/
  .loader span {
    font-size: 3.5em;
    padding: 30px;
  }
  /* Nav*/
  nav img {
    width: 10%;
    margin-bottom: 35px;
    padding-top: 40px;
  }
  nav a .fa-arrow-left {
    top: 4%;
  }
  input::placeholder {
    font-size: 16px;
  }
  .explo-box p {
    margin-bottom: 30px;
  }
  .explo-box .explo-btn {
    transform: scale(1.5);
  }
  /*Filtres*/
  .main-rulesbox {
    margin-bottom: 50px;
    margin-top: 50px;
    overflow-y: hidden;
  }
  .main-rulesbox h2 {
    font-size: 30px;
    margin-left: 320px;
    margin-bottom: 50px;
  }
  .main-rulesbox .rules-box {
    transform: scale(2.2);
    flex-direction: row;
    justify-content: center;
    margin-left: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 20px;
  }
  .main-rulesbox .rules-box .box p {
    font-size: small;
    font-weight: 600;
    padding-right: 30px;
    margin-left: -10px;
  }
  .main-rulesbox .rules-box .box .fa-mobile-screen {
    padding-left: 24px;
    padding-right: 0;
  }
  .main-rulesbox .rules-box .box .fa-list {
    margin-right: 2px;
  }
  .main-rulesbox .rules-box .box .fa-store {
    margin-left: -3px;
  }
  .main-rulesbox .rules-box .liste {
    top: 20px;
    left: 38px;
  }
  /*Cards*/
  .restaurants {
    padding-bottom: 0;
    margin-top: 10px;
  }
  .restaurants h2 {
    margin-left: 320px;
    font-size: 30px;
    margin-bottom: 50px;
  }
  .restaurants-cards {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
    overflow-y: hidden;
  }
  .restaurants-cards a {
    margin-bottom: 50px;
    width: 36%;
  }
  .restaurants-cards a img {
    object-position: 0px -120px;
    height: 350px;
  }
  .restaurants-cards a #enchantee {
    object-position: 0px -435px;
  }
  .restaurants-cards a #fraise {
    object-position: 0px -220px;
  }
  .restaurants-cards a #delice {
    object-position: 0px -220px;
  }
  .restaurants-cards .heart {
    font-size: xx-large;
    left: -62px;
    bottom: -370px;
    height: 35px;
  }
  .new .new-box {
    font-size: 18px;
    top: 30px;
    right: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
  /*Footer*/
  footer {
    padding-top: 0;
  }
  footer .footer-bar {
    flex-direction: row-reverse;
    gap: 50px;
    margin-top: 70px;
    margin-bottom: 30px;
    margin-right: 115px;
  }
  footer .footer-bar .logo-title {
    font-weight: 300;
    font-size: x-large;
    padding-right: 5px;
  }
  footer .footer-bar .footer-box {
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding-right: 50px;
  }
  footer .footer-bar .footer-icons {
    flex-direction: row;
    gap: 10px;
  }
  footer .footer-bar .footer-txt {
    display: flex;
    gap: 30px;
  }
  /*Pages restaurants*/
  .main-restaurant {
    background: white;
  }
  .main-restaurant .restaurant-img {
    object-fit: cover;
    height: 600px;
  }
  .main-restaurant .restaurant-img img {
    transform: scale(1);
    object-position: 0px -600px;
  }
  .main-restaurant .restaurant-img #enchante-img {
    transform: scale(1);
    margin-top: 13px;
    width: 2560px;
    height: 1706px;
    object-position: 0px -1350px;
  }
  .main-restaurant .restaurant-img #delice-img {
    margin-top: 13px;
    width: 2560px;
    transform: scale(1);
    height: 1706px;
    object-fit: cover;
    object-position: 0px -550px;
  }
  .restaurants-menu {
    justify-content: center;
    width: 72%;
  }
  .menu-content {
    margin-top: 0;
    padding-top: 50px;
    width: 72%;
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  .menu-content h2 {
    margin-left: 413px;
  }
  .menu-content h2::after {
    width: 4.2%;
  }
  .menu-content .menu-txt {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
  }
  #bottom {
    padding-bottom: 180px;
  }
  .card-menu .check-box {
    left: 97%;
  }
  @keyframes valid {
    from {
      left: 97%;
    }
    to {
      left: 75%;
    }
  }
  @keyframes ellipse {
    from {
      width: 331px;
    }
    to {
      width: 331px;
    }
  }
  .check {
    width: 15%;
  }
  .command {
    background: #EAEAEA;
    margin-top: -110px;
    margin-bottom: 0;
    margin-right: 14px;
    margin-left: 14px;
  }
  .explo-btn {
    margin-top: 0;
    margin-bottom: 70px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
  }
}

/*# sourceMappingURL=main.css.map */
