@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin color-btn {
    border-radius:25px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:25px;
    padding-right:25px;
    color:white;
    font-size: 15px;
    border:none;
    box-shadow:0px 4px 10px rgba(0, 0, 0, 0.25);
}

@mixin section-title {
    font-family: $txt-logo-titre;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 28px;
}

