$color-primary:#9356DC;
$color-secundary:#ff79d9;
$color-third:#99E2D0;
$txt-logo-titre:'Shrikhand', cursive;
$txt-paragraphe:'roboto', sans-serif;
$lighter-grey:#EAEAEA;
$grey:#D2D2D2;
$darker-grey:#D9D9D9;
$gradient-button:linear-gradient($color-secundary, $color-primary);